/* style="max-width: 600px;" */

.slide1{
height: 90vh
}
.descrption{
    width: 600px;
}

.div1{
    background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.6), transparent);
}

 .bg-purple {
          background-color: #6f42c1 !important;
        }
 .object-fit-cover {
          object-fit: cover;
 }

 .home-carousel {
  margin-top: 0 !important;
}